h1 {background-color : #839B5C; text-align : center; color:#D7FF96}
p {color : black ;text-align : left}
em {background-color :lightgreen}
strong {background-color : lightblue}
footer {width:100%;background-color:#3f4f4f;bottom:0px;position:absolute;text-align: center;padding: 30px 0}
body {/*background-image: url("bg.gif");*/margin:0px;background-color:#f5f5f5;margin-left:20px;margin-right:20px}
.footer-text p{color:white; text-align:center}
.wrapper{height:100%;min-height:120vh; position:relative;padding-top:60px;padding-bottom:200px;box-sizing: border-box;}
.container { position: relative;/* width: 100%;*/ height: auto !important; height: 100%; min-height: 100%; margin-left:10vw; margin-right:10vw}
body {margin:0;display:flex;flex-flow:column;min-height:100vh}
.footer-item { width: auto; list-style: none;display:inline-block;}
.footer-pic {text-align: center}
.footer-list {margin:0; padding:0}
nav ul li a {text-decoration: none;}
.first p{text-align:center}
.headerStyle{
  position    : fixed;
  top         : 0;
  left        : 0;
  right       : 0;
  height      : 50px;
  background  : linear-gradient(rgba(176, 194, 222, 0.96), rgba(245, 245, 245, 0.96));
  z-index     : 10;
  text-align  : center;
  font-weight : bold;
  display:flex;
  backdrop-filter: blur(3px);
}
.hdStrBig{
  font-size   : 30px;
  line-height : 70px;
  color       : #fff;
}
 
/* === 文字（小） =========================================== */
.hdStrSmall{
  font-size   : 14px;
  line-height : 30px;
  color       : #fff;
}

.header-left{margin-right:auto; padding-left:25px;padding-top:3px;font-size:20px;}
.headerStyle div{display:flex}
.header-right{font-size:20px; margin:10px;padding-right:12px}
.header-right a{color:black;text-decoration:none;}
.header-left a{color:black;text-decoration:none;}

h2{text-align:left;border-bottom:double 6px #202F55;border-left:solid 5px #839B5C;padding-left:2vw; font-weight : bold;}
h3{text-align:left}

img:hover{opacity: .7;}

.all-family{margin:0px}
.all-family-2{padding-top:10px;padding-bottom:10px}
.all-section-text p {color:black}
.all-family-2{padding-left:2vw}

.menu ul{margin:0;padding-left:10;list-style:none;}

.menu{position:relative;background:#F4F4F4}
.menu a{text-decoration:none;color:#000000;}
.menu li{height:0;overflow:hidden;-webkit-transition:all 0.5s;-moz-transition:all 0.5s;-ms-transition:all 0.5s;-o-transition:all 0.5s;transition:0.5s;}
#menu_bar:checked ~ #link1 li{height:40px;opacity:1}
#top{margin-top:-100px; padding-top:100px}	

.iframe-wrapper {
  position: relative;
  width: 250px;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}
.iframe-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
progress {
  /*width: 80%;  プログレスバーの幅を調整 */
  height: 20px; /* プログレスバーの高さを調整 */
}